---
layout: layouts/base.ejs
---

<div class="container mx-auto pt-8">
  <%- include /layouts/header.ejs %>

  <article class="post pt-4">
    <header class="mb-8">
      <h1 class="post-title">
        <%= title %>
      </h1>

      <div class="block items-center md:flex justify-center">
        <div class="user-image flex items-center">
          <a target="_blank" href="https://twitter.com/@gc_psk" class="flex items-center">
            <img src="/assets/images/giancarlo.jpeg" />
            <span class="ml-2 text-gray-600 text-sm">@gc_psk</span>
          </a>

          <span class="text-gray-600 text-400 ml-1">
            /  <%= this.dateFns.format(new Date(date), 'LLLL d, yyyy') %>
          </span>
        </div>

        <div class="mt-2 md:ml-5 md:mt-0">
          <% for (const tag of tags) { %>
            <% if (tag !== 'posts') { %>
              <a href="/tags/<%= tag %>" class="tag-item text-xs">
                <%= tag %>
              </a>
            <% } %>
          <% } %>
        </div>
      </div>

      <% if (typeof featuredImage !== 'undefined') { %>
        <div class="featured-image mb-8 mt-8 hidden md:block">
          <img src="<%- featuredImage %>" />
        </div>
      <% } %>
    </header>

    <section class="pb-3">
      <%- content %>
    </section>

    <!-- CONVERTKIT FORM -->
    <%- include /layouts/convertkit-post.ejs %>

    <div class="text-sm mt-2">
      Do you want to report something incorrect? Please open an Issue or a PR on
      <a class="underline" href='https://github.com/Gbuomprisco/angularbites.com'>Github</a>
    </div>

    <footer class="mt-5 pb-5 mb-10">
      <a class="underline" href="/">Back to home</a>
    </footer>
  </article>
</div>
