---
layout: layouts/base.ejs
---

<div class="container mx-auto pt-8">
  <%- include /layouts/header.ejs %>

  <article class="post pt-4">
    <header class="mb-6">
      <h1 class="text-5xl">
        <%= title %>
      </h1>

      <div class="user-image mb-2 flex items-center">
        <a target="_blank" href="https://twitter.com/@gc_psk" class="flex items-center">
          <img src="/assets/images/giancarlo.jpeg" />
          <span class="ml-2 text-gray-600 text-sm">@gc_psk</span>
        </a>

          <span class="text-gray-600 text-400 ml-1">
            /  <%= this.dateFns.format(new Date(date), 'LLLL d, yyyy') %>
          </span>
        </a>
      </div>

      <div class="mt-8 mb-8">
        <% for (const tag of tags) { %>
          <% if (tag !== 'posts') { %>
            <a href="/tags/<%= tag %>" class="tag-item text-xs">
              <%= tag %>
            </a>
          <% } %>
        <% } %>
      </div>
    </header>

    <section class="pb-3">
      <%- content %>
    </section>

    <!-- CONVERTKIT FORM -->
    <% include('convertkit.ejs') %>

    <div class="text-sm">
      Do you want to report something incorrect? Please open an Issue or a PR on
      <a class="underline" href='https://github.com/Gbuomprisco/angularbites.com'>Github</a>
    </div>

    <footer class="mt-5 pb-5 mb-10">
      <a class="underline" href="/">Back to home</a>
    </footer>
  </article>
</div>
