---
pagination:
  data: collections.posts
  size: 25
  alias: list
  reverse: true
permalink: '<% if (pagination.pageNumber > 0) { %><%= `page${pagination.pageNumber + 1}/index.html` %><% } else { %>index.html<% } %>'
eleventyComputed:
  title: '<% if (pagination.pageNumber > 0) { %><%= `Page ${pagination.pageNumber + 1} | ${site.title}` %><% } else { %><%= site.title %><% } %>'
---

<div class="container mx-auto pt-8">
    <%- include /layouts/header.ejs %>

    <div class="mt-8">
        <div class="a-blog-by-section flex align-center">
            <img src="/assets/images/giancarlo.jpeg"/>
            <span class="text-sm">
                A blog by <a href="https://giancarlobuomprisco.com">Giancarlo Buomprisco</a>
            </span>
        </div>
    </div>

    <div class="mt-8">
        <% list.forEach((post) => { %>
            <div class="my-4">
                <div>
                    <a class="text-2xl hover:underline" href="<%= post.url %>"><%= post.data.title %></a>
                </div>

                <div class="text-grey-800 text-sm">
                    <%= post.data.description %>
                </div>
            </div>
        <% }) %>
    </div>

    <div class="pt-3">
        <% if (pagination.previous) { %>
            <a href="<%= pagination.previous.replace(/index.html$/, "") %>">Newer Posts</a>
        <% } %>
        <% if (pagination.next) { %>
            <a href="<%= pagination.next.replace(/index.html$/, "") %>">Older Posts</a>
        <% } %>
    </div>
</div>
