---
pagination:
    data: collections.posts
    size: 50
    alias: posts
    reverse: true
    filter:
        - all
permalink: '<% if (pagination.pageNumber > 0) { %><%= `page${pagination.pageNumber + 1}/index.html` %><% } else { %>index.html<% } %>'
eleventyComputed:
  title: '<% if (pagination.pageNumber > 0) { %><%= `Page ${pagination.pageNumber + 1} | ${site.title}` %><% } else { %><%= site.title %><% } %>'
---

<div class="container mx-auto py-8">
    <%- include /layouts/header.ejs %>

    <div class="mt-8">
        <% posts.length %>
        <% posts.forEach((post) => { %>
            <div class="my-8">
                <div>
                    <a class="text-2xl" href="<%= post.url %>"><%= post.data.title %></a>
                </div>

                <div class="text-grey-800 text-sm font-serif">
                    <%= this.dateFns.format(new Date(post.date), 'LLLL d, yyyy') %>
                </div>
            </div>
        <% }) %>
    </div>

    <div class="pt-3">
        <% if (pagination.previous) { %>
            <a class="hover:underline" href="<%= pagination.previous.replace(/index.html$/, "") %>">Newer Posts</a>
        <% } %>

        <% if (pagination.previous && pagination.next) { %>
          /
        <% } %>

        <% if (pagination.next) { %>
            <a class="hover:underline" href="<%= pagination.next.replace(/index.html$/, "") %>">Older Posts</a>
        <% } %>
    </div>
</div>
